flows_techbase.json
[{"id":"5e65df2a.94e35","type":"tab","label":"Full Flow","disabled":false,"info":""},{"id":"9a3265e8.2e5668","type":"tab","label":"Modbus","disabled":true,"info":""},{"id":"e4cb4e7.1cb0eb","type":"tab","label":"Test Serial Port","disabled":true,"info":""},{"id":"ea84a9dc.d498a8","type":"tab","label":"Grafana","disabled":false,"info":""},{"id":"8dabe912.cd04c8","type":"tab","label":"klhk","disabled":true,"info":""},{"id":"adf81edb.b37d3","type":"modbusSerialConfig","z":"5e65df2a.94e35","port":"/dev/ttySC0","baud":"9600","data":"8","parity":"none","stop":"1","name":"COM 3"},{"id":"7862b901.549498","type":"JsonWebToken_config","z":"5e65df2a.94e35","name":"","secret":"enaknyaapasecret"},{"id":"cc6f0b92.32b468","type":"modbusSerialConfig","z":"","port":"/dev/ttyAMA0","baud":"9600","data":"8","parity":"none","stop":"1","name":"COM 4"},{"id":"59e55e1a.6c9ce","type":"modbusSerialConfig","z":"","port":"/dev/ttyAMA0","baud":"9600","data":"8","parity":"none","stop":"1","name":"COM4"},{"id":"41ffd630.9578d","type":"modbusSerialConfig","z":"d459283c.a454e8","port":"/dev/ttySC0","baud":"9600","data":"8","parity":"none","stop":"1","name":"COM3"},{"id":"bc2e8ca3.3f5c18","type":"mqtt-broker","z":"","name":"","broker":"153.92.5.95","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"189577cb.59f83","type":"JsonWebToken_config","z":"","name":"","secret":"enaknyaapasecret"},{"id":"d0f7ebfc.d7c4a8","type":"modbusSerialConfig","z":"","port":"/dev/ttySC0","baud":"9600","data":"8","parity":"none","stop":"1","name":"COM 3"},{"id":"fc41309a.a824d","type":"modbus-client","z":"e4cb4e7.1cb0eb","name":"modberry","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyAMA0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"33efe86.8b6d818","type":"influxdb","z":"","hostname":"153.92.5.95","port":"8086","protocol":"http","database":"MyDB_STC","name":"SyntekServer","usetls":false,"tls":""},{"id":"bfd78922.c83358","type":"function","z":"5e65df2a.94e35","name":"uid2","func":"//msg.secret = \"12312341243\";\nmsg.payload = {\n    \"uid\":\"2000000000300\",\n    \"datetime\":Number(msg.payload/1000).toFixed(0),\n    \"pH\":global.get(\"ph\"),\n    \"cod\":global.get(\"cod\"),\n    \"tss\":global.get(\"tss\"),\n    \"nh3n\":global.get(\"nh3n\"),\n    \"debit\":global.get(\"debit\")\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":360,"wires":[["731b0587.1ede5c","12a34b6a.9813fd"]]},{"id":"3c060ea0.4165a2","type":"http request","z":"5e65df2a.94e35","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://203.166.207.50/api/server-uji","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":380,"wires":[["2d8ae370.20a65c"]]},{"id":"531da1a2.45b25","type":"function","z":"5e65df2a.94e35","name":"","func":"msg.payload = {\n    \"token\":msg.token\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":360,"wires":[["3c060ea0.4165a2"]]},{"id":"c930174c.8defb8","type":"inject","z":"5e65df2a.94e35","name":"2min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":175.7499885559082,"y":359.4999976158142,"wires":[["bfd78922.c83358"]]},{"id":"2d8ae370.20a65c","type":"debug","z":"5e65df2a.94e35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":300,"wires":[]},{"id":"e903501b.8aa98","type":"comment","z":"5e65df2a.94e35","name":"baca ya","info":"nanti kalo secretnya berubah, diganti di\nconfignya node warna pink \"klhk\"","x":560,"y":660,"wires":[]},{"id":"76f03765.7cdc98","type":"debug","z":"5e65df2a.94e35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":40,"wires":[]},{"id":"d17ab89d.41a548","type":"function","z":"5e65df2a.94e35","name":"Testing token","func":"global.set(\"ph\", 10);\nglobal.set(\"cod\", 10);\nglobal.set(\"nh3n\", 10);\nglobal.set(\"tss\", 10);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":640,"wires":[[]]},{"id":"455bf48.ba70d0c","type":"inject","z":"5e65df2a.94e35","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":640,"wires":[["d17ab89d.41a548"]]},{"id":"9117906e.ec766","type":"debug","z":"5e65df2a.94e35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":140,"wires":[]},{"id":"313a9405.72138c","type":"debug","z":"5e65df2a.94e35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":190,"wires":[]},{"id":"284b7b11.a41344","type":"debug","z":"5e65df2a.94e35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":249,"wires":[]},{"id":"90112d13.318c3","type":"function","z":"5e65df2a.94e35","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 4); //2 buffer byte per var\n\nmsg.payload = {\n    \"debit\":a[0]\n};\n\nglobal.set(\"debit\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":190,"wires":[["313a9405.72138c"]]},{"id":"e73c0cbe.e4d15","type":"function","z":"5e65df2a.94e35","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 4); //2 buffer byte per var\n\nmsg.payload = {\n    \"cod\":a[0]\n};\n\nglobal.set(\"cod\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":378,"y":250,"wires":[["284b7b11.a41344"]]},{"id":"d452d347.2b3fb","type":"function","z":"5e65df2a.94e35","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 4); //2 buffer byte per var\n\nmsg.payload = {\n    \"ph\":a[0]\n};\n\nglobal.set(\"ph\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":140,"wires":[["9117906e.ec766"]]},{"id":"8a998d74.63fc8","type":"function","z":"5e65df2a.94e35","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 4); //2 buffer byte per var\n\nmsg.payload = {\n    \"nh3n\":a[0]\n};\n\nglobal.set(\"nh3n\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":40,"wires":[["76f03765.7cdc98"]]},{"id":"5704de14.4859e","type":"inject","z":"5e65df2a.94e35","name":"Test Modbus","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":480,"wires":[["b0eaacdb.3e381"]]},{"id":"b0eaacdb.3e381","type":"function","z":"5e65df2a.94e35","name":"","func":"global.set(\"ph\",1);\nglobal.set(\"cod\",2);\nglobal.set(\"tss\",3);\nglobal.set(\"nh3n\",4);\nglobal.set(\"debit\",5);\n","outputs":1,"noerr":0,"x":450,"y":480,"wires":[[]]},{"id":"ea06ee1b.e7d72","type":"modbusSerial in","z":"5e65df2a.94e35","port":"adf81edb.b37d3","slaves":"1","start":"6","count":"2","dtype":"input","period":"10","topic":"","name":"AMMONIA","x":210,"y":40,"wires":[["8a998d74.63fc8"]]},{"id":"f8a86f44.8f592","type":"modbusSerial in","z":"5e65df2a.94e35","port":"adf81edb.b37d3","slaves":"1","start":"0","count":"2","dtype":"input","period":"10","topic":"","name":"PH","x":200,"y":140,"wires":[["d452d347.2b3fb"]]},{"id":"db4ba793.ef1398","type":"modbusSerial in","z":"5e65df2a.94e35","port":"cc6f0b92.32b468","slaves":"1","start":"2","count":"2","dtype":"input","period":"10","topic":"","name":"DEBIT","x":198,"y":190,"wires":[["90112d13.318c3"]]},{"id":"6b180692.8ca6f8","type":"modbusSerial in","z":"5e65df2a.94e35","port":"adf81edb.b37d3","slaves":"1","start":"4","count":"2","dtype":"input","period":"10","topic":"","name":"COD","x":198,"y":250,"wires":[["e73c0cbe.e4d15"]]},{"id":"731b0587.1ede5c","type":"JsonWebToken","z":"5e65df2a.94e35","name":"klhk","tokenconfig":"7862b901.549498","x":570,"y":360,"wires":[["531da1a2.45b25"]]},{"id":"242467fb.88d2d8","type":"debug","z":"5e65df2a.94e35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":90,"wires":[]},{"id":"46c35ee7.7d6538","type":"function","z":"5e65df2a.94e35","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 4); //2 buffer byte per var\n\nmsg.payload = {\n    \"tss\":a[0]\n};\n\nglobal.set(\"tss\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":90,"wires":[["242467fb.88d2d8"]]},{"id":"24fcbdc9.d50de2","type":"modbusSerial in","z":"5e65df2a.94e35","port":"adf81edb.b37d3","slaves":"1","start":"2","count":"2","dtype":"input","period":"10","topic":"","name":"TSS","x":200,"y":90,"wires":[["46c35ee7.7d6538"]]},{"id":"12a34b6a.9813fd","type":"debug","z":"5e65df2a.94e35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":420,"wires":[]},{"id":"9baf5cff.9beb9","type":"debug","z":"9a3265e8.2e5668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":100,"wires":[]},{"id":"5f7211e4.2b836","type":"function","z":"9a3265e8.2e5668","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 16); //4x jumlah reg float\n\nmsg.payload = {\n    \"pH\":a[0],\n    \"tss\":a[1],\n    \"cod\":a[2],\n    \"nh3n\":a[3]\n};\n\nglobal.set(\"pH\", a[0]);\nglobal.set(\"tss\", a[1]);\nglobal.set(\"cod\", a[2]);\nglobal.set(\"nh3n\", a[3]);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["9baf5cff.9beb9"]]},{"id":"365003e5.e408fc","type":"inject","z":"9a3265e8.2e5668","name":"Test Modbus","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":340,"wires":[["47b5165d.e6ac68"]]},{"id":"47b5165d.e6ac68","type":"function","z":"9a3265e8.2e5668","name":"","func":"global.set(\"ph\",1);\nglobal.set(\"cod\",2);\nglobal.set(\"tss\",3);\nglobal.set(\"nh3n\",4);\nglobal.set(\"debit\",5);\n","outputs":1,"noerr":0,"x":320,"y":340,"wires":[[]]},{"id":"f380c504.d84fe8","type":"debug","z":"9a3265e8.2e5668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":220,"wires":[]},{"id":"efe096b7.ba5ef8","type":"modbusSerial in","z":"9a3265e8.2e5668","port":"59e55e1a.6c9ce","slaves":"1","start":"9","count":"2","dtype":"holding","period":"3","topic":"","name":"CHEMITEC DEBIT","x":121,"y":161,"wires":[["728f33d7.056fac"]]},{"id":"765416d4.f242b8","type":"modbusSerial in","z":"9a3265e8.2e5668","port":"41ffd630.9578d","slaves":"1","start":"0","count":"8","dtype":"input","period":"3","topic":"","name":"CHEMITEC ANALYZER","x":130,"y":100,"wires":[["5f7211e4.2b836"]]},{"id":"728f33d7.056fac","type":"function","z":"9a3265e8.2e5668","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar a = [];\n\na[0] = x.readInt16BE(0)/(30000/3000); //UInt16BE, UInt16LE, Int16BE, Int16LE\n\nmsg.payload = {\n    \"debit\":a[0]\n};\n\nglobal.set(\"debit\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":381,"y":161,"wires":[["f380c504.d84fe8"]]},{"id":"8634a536.6d6b28","type":"comment","z":"8dabe912.cd04c8","name":"baca ya","info":"nanti kalo secretnya berubah, diganti di\nconfignya node warna pink \"klhk\"","x":230,"y":80,"wires":[]},{"id":"209addb4.a3f302","type":"debug","z":"e4cb4e7.1cb0eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":160,"wires":[]},{"id":"e184a02f.0185b","type":"modbusSerial in","z":"e4cb4e7.1cb0eb","port":"d0f7ebfc.d7c4a8","slaves":"1","start":"1179","count":"8","dtype":"holding","period":"3","topic":"","name":"Frequency","x":380,"y":160,"wires":[["209addb4.a3f302"]]},{"id":"ae2c648a.fa0208","type":"function","z":"8dabe912.cd04c8","name":"uid2","func":"//msg.secret = \"12312341243\";\nmsg.payload = {\n    \"uid\":\"2000000000300\",\n    \"datetime\":Number(msg.payload/1000).toFixed(0),\n    \"pH\":global.get(\"ph\"),\n    \"cod\":global.get(\"cod\"),\n    \"tss\":global.get(\"tss\"),\n    \"nh3n\":global.get(\"nh3n\"),\n    \"debit\":global.get(\"debit\")\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":180,"wires":[["d04d8c17.d90ed","798fb38d.da456c"]]},{"id":"94f68ddd.b131a","type":"http request","z":"8dabe912.cd04c8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://203.166.207.50/api/server-uji","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":200,"wires":[["6f6b8aaf.aff9f4"]]},{"id":"8c16e16e.0c14","type":"function","z":"8dabe912.cd04c8","name":"","func":"msg.payload = {\n    \"token\":msg.token\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":180,"wires":[["94f68ddd.b131a"]]},{"id":"b4f2c558.7058a8","type":"inject","z":"8dabe912.cd04c8","name":"2min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":255.7499885559082,"y":179.4999976158142,"wires":[["ae2c648a.fa0208"]]},{"id":"6f6b8aaf.aff9f4","type":"debug","z":"8dabe912.cd04c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":120,"wires":[]},{"id":"d04d8c17.d90ed","type":"JsonWebToken","z":"8dabe912.cd04c8","name":"klhk","tokenconfig":"7862b901.549498","x":650,"y":180,"wires":[["8c16e16e.0c14"]]},{"id":"798fb38d.da456c","type":"debug","z":"8dabe912.cd04c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"a70e64ca.e82228","type":"inject","z":"ea84a9dc.d498a8","name":"","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":200,"wires":[["71be89e6.2c031"]]},{"id":"71be89e6.2c031","type":"function","z":"ea84a9dc.d498a8","name":"","func":"msg.payload = [\n    {\n        measurement: \"modberry_1\",\n        fields: {\n    \"pH\":global.get(\"ph\"),\n    \"cod\":global.get(\"cod\"),\n    \"tss\":global.get(\"tss\"),\n    \"nh3n\":global.get(\"nh3n\"),\n    \"debit\":global.get(\"debit\"),\n    \"test\":100000\n                    },\n        timestamp: new Date()\n    }\n    ];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":200,"wires":[["7d34855d.a0c39c"]]},{"id":"7d34855d.a0c39c","type":"influxdb batch","z":"ea84a9dc.d498a8","influxdb":"33efe86.8b6d818","precision":"","retentionPolicy":"","name":"Modberry 1","x":990,"y":200,"wires":[]}]